<%- include('include/navbar') %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="css/main.css">
    </head>

    <body>
        <h1>Dashboard</h1>
        <button>Ask me</button>
        <button><a href="/upload">Upload</a></button>
        <hr>
        <h3>Documents in pipeline</h3>
        <div class="box1">
            <p>No documents in pipeline</p>
        </div>
        <h3>Latest Data extractions</h3>
        <div class="box2">
            <p>No data extractions</p>
        </div>
    </body>

    </html>