<%- include('include/navbar') %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Upload</title>
    </head>

    <body>
        <h1>Upload?</h1>
        <a href="/upload">1</a>
        <a href="/upload2">2</a>
        <a href="/upload3">3</a>
        <a href="/upload4">4</a>
        
    </body>

    </html>