<%- include('include/navbar') %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Upload</title>
        <link rel="stylesheet" href="css/upload.css">
    </head>

    <body>
        <h1>Upload?</h1>
        <div class="circle-container">
            <div class="circle-container-item">
                <div class="circle"><a href="">1</a></div>
                <h3>Upload</h3>
            </div>
            <div class="circle-container-item">
                <div class="circle"><a href="">2</a></div>
                <h3>Text Recognition</h3>
            </div>
            <div class="circle-container-item">
                <div class="circle"><a href="">3</a></div>
                <h3>Data extraction</h3>
            </div>
            <div class="circle-container-item">
                <div class="circle"><a href="">4
                    
                </a></div>
                <h3>Verification</h3>
            </div>
        </div>
        <hr>
        <div class="box">
            <p>Drag and drop or browse files</p>
        </div>

    </body>

    </html>