<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navbar.css">
</head>

<body>
    <div class="navbar">
        <h2>Pipeline</h2>
        <ul>
            <li>Text Recognition</li>
            <li>Data extraction</li>
            <li>Verification</li>
        </ul>
        <h2>Structured Data</h2>
        <ul>
            <li>Receipts</li>
            <li>Invoices</li>
            <li>Card statements</li>
        </ul>
    </div>
</body>

</html>