<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navbar.css">
</head>

<body>
    <div class="navbar">
        <div class="navbar-header">
            <h2>Pipeline</h2>
            <ul>
                <li><img src="images/text.png" alt="Image 1" width="20" height="20">Text Recognition</li>
                <li><img src="images/data.png" alt="Image 2" width="20" height="20">Data extraction</li>
                <li><img src="images/verification.png" alt="Image 3" width="20" height="20">Verification</li>
            </ul>
            <h2>Structured Data</h2>
            <ul>
                <li><img src="images/receipts.png" alt="Image 4" width="20" height="20">Receipts</li>
                <li><img src="images/invoices.png" alt="Image 5" width="20" height="20">Invoices</li>
                <li><img src="images/crad.png" alt="Image 6" width="20" height="20">Card statements</li>
            </ul>
        </div>
        <div class="settings-button">
            <p><img src="images/settingf.png" alt="Settings" width="20" height="20">Settings</p>
        </div>
    </div>
</body>

</html>