body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    margin: 0;
    font-size: 24px;
}

.buttons {
    display: flex;
    align-items: center;
}

.ask-button,
.upload-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.ask-button {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

.upload-button {
    background-color: #0056b3;
    color: white;
    font-style: none;
}

.ask-button:hover,
.upload-button:hover {
    opacity: 0.8;
}

.section {
    margin-bottom: 30px;
}

h3 {
    color: #333;
    margin-bottom: 10px;
}

.box1,
.box2 {
    width: 60%;
    height: 210px;
    margin-left: 250px;
    /* Center align horizontally */
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.box1 p,
.box2 p {
    margin: 0;
    color: #666;
}